<!DOCTYPE html>
<html lang="en">
<body>
    <header>
        <div class="header">
            <img src="Untitled-1.png" alt="logo" width="50px">
            <h1>  MU BLOGS</h1>
            <p class="tooglebtn" id="btn" ><button>Show</button></p>
            <ul class="navlink">
                <li><a href="/">Home</a></li>
                <li><a href="/About_us">About Us</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
            
        </div>

    </header>

     <script> 
     document.querySelector('#btn').addEventListener('click',(e)=>{

        if (document.querySelector('.navlink').style.display == 'block') {
            document.querySelector('.navlink').style.display = 'none'
        }
        else{
            document.querySelector('.navlink').style.display = 'block'
        }
        
        
     })  
        
      
     </script>
</body>
</html>