<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a project for practice 
    and it let's you create blog upload and delete(soon) author is muhidin shemsu">
    <meta name="keywords" content="muhidin, shemsu, muhidinshemsu, muhidinblog, blog, ">
    <meta name="google-site-verification" content="rcvTP0VuuF08L9CDp8hXJ4oygESbk3Z2MbsF6osfY4o" />
    <title>MU Blog</title>
    <link rel="stylesheet" href="css.css">
    <link rel="shortcut icon" href="Untitled-1.png" type="image/x-icon">
</head>
<body>
    <script src="js.js"></script>
    <%- include('header') %>
    <div class="blogs">
        <h1> Here are the blogs</h1><br>

        <% for( let i = 0; i < a.length; i++ ) { %>
            <div class="blog">
                <h1 class="title"><%-a[i].title%></h1>
                <h3 class="content">
                    <%- a[i].content.slice(0,100) %> 
                    <a href=<%-a[i].title.replace(/ /g,'_')  %> style="font-size: 15px;">Read More</a>
                </h3>

            </div>
        
        <% } %>
        
            <div class="compose">
                <a href="/compose">compose</a>
            </div>
    </div>
</body>
</html>
